/* 
            tab y comillas = {}
selection 
[propiedad valor ]

para centrar 1ro - display: flex - para horizontal "justify-content: center" - 
para vertical "align-items: center"
"float" para mover texto de izquierda a derecha 
 */ 


body {margin: 0%; padding: 0%; background-color: black;}
.intro  {background-color: red; display: flex;
justify-content: center;
flex-wrap: wrap;
} 


.presentacion {background-color: black; color: white;font-style: italic;}
h1  {display: flex; justify-content: center;font-size: xx-large;}
.CR {display: flex; justify-content: center;}
h3  {display: flex; justify-content: center; font-size: x-large;}

.kevinlevrone   {background-color: red;color: white;}
.KL {display: flex; justify-content: center;background-color: red;}
h2  {display: flex; justify-content: center;font-size: xx-large;margin: 0%;}
.espacio1   {background-color: red;}


 .lista1  {background-color: white; 
    display: flex;font-size: xx-large ;
    font-family: Arial, Helvetica, sans-serif;font-weight: bold;}
 ul {list-style: none;padding: 0%;margin: 0%;}
 li  {float: left;display: block; padding: 10px 70px}
 a  {text-decoration: none; color: red;}
.dudas  {color: white;font-size: larger;}
.formulario {text-align: center; color: white;}